language: ruby
cache: bundler
rvm:
  - 1.9.2
  - 1.9.3
  - 2.0.0
  - 2.1
  - rbx-2
  - ruby-head
  - jruby-head
matrix:
  include:
    - rvm: jruby
      env: JRUBY_OPTS="--1.9 --debug"
    - rvm: jruby
      env: JRUBY_OPTS="--2.0 --debug"
    - rvm: jruby
      env: JRUBY_OPTS="--2.1 --debug"
  allow_failures:
    - rvm: ruby-head
    - rvm: jruby-head
  fast_finish: true